In [3]:
import pandas as pd
import numpy as np

data = pd.read_csv("./data/german_credit_data.csv")
data.head()

,Unnamed: 0,Age,Sex,Job,Housing,Saving accounts,Checking account,Credit amount,Duration,Purpose,Risk
0,0,67,male,2,own,NaN,little,1169,6,radio/TV,good
1,1,22,female,2,own,little,moderate,5951,48,radio/TV,bad
2,2,49,male,1,own,little,NaN,2096,12,education,good
3,3,45,male,2,free,little,little,7882,42,furniture/equipment,good
4,4,53,male,2,free,little,little,4870,24,car,bad

In [8]:
test = [1, 2, 3, 4]
test = False

if isinstance(test, np.ndarray):
    print("Yep")

In [9]:
def find_MAD(X):
    """Compute the Median Absolute Deviation (MAD) for each feature.

    Args:
        X (np.ndarray or list): n x m matrix

    Returns:
        MAD (np.ndarray): vector of m deviations from the median corrosponding to m features
    """

    MAD = [0 for _ in range(X.shape[1])]
    for j in range(X.shape[1]):
        mad_sample_wise = []
        avg = np.median(X[:, [j]])
        for i in range(X.shape[0]):
            val = abs(X-avg)
            mad_sample_wise.append(val)

        med = np.median(mad_sample_wise)

        if med == 0:
            med = 1

        MAD[j] = med
    
    return MAD

In [20]:
test = np.array([[8], [3]])
test

array([[8],
       [3]])

In [21]:
find_MAD(test)

[2.5]

In [27]:
df3 = pd.DataFrame(np.random.randn(4,4), pd.MultiIndex())
df3

          0         1         2         3
0 -1.007123 -0.932419 -0.504082 -0.771725
1  0.673289 -0.077505 -1.185464  0.279555
2  1.874472 -1.322192 -0.511314 -0.732827
3 -0.675511  0.023312 -0.540233  1.653024